footer {
  display: none;
  width: 100%;

  & div {
    position: fixed;
    bottom: 4rem;

    max-width: 39.25rem;
    width: 100%;
    background-color: var(--color-danger);

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem;
    border-radius: 0.75rem;
    z-index: 1;

    & button {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      background-color: var(--color-danger);
      border: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 390px) {
  footer {
    & div {
      max-width: 20.375rem;
    }
  }
}
