* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
}

html {
  font-family: "Inter", sans-serif;

  scroll-behavior: smooth;
}

body {
  max-width: 39.25rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-inline: auto;

  background-color: var(--background-primary);
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--content-primary);
}

.label {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--always-white);
}

.paragraph {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--content-secondary);
}

.link {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--color-brand);
  text-decoration: none;
}

@media (max-width: 390px) {
  body {
    max-width: 20.375rem;
    margin-top: 0;

    & > img {
      display: none;
    }
  }
}
